{# <footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer> #}
  <footer class="footer">
    <div class="footer_inner_container">
      <div class="footer-logo">
        <img src="/nails-opencart/image/nail_image/GRANI2.svg" alt="logo-footer">
      </div>
      <div class="footer-main">
        <div class="footer-rightside">
          <nav class="footer-leftside">
            <div class="leftside-part">
              <div class="part-phone">
                <div class="navbar-phone">
                  <a href="tel:+375292912432">+375 29 291 24 32</a>
                </div>
                <div class="phone-description">если у Вас возникли вопросы, пожалуйста, свяжитесь с нами:</div>
              </div>
              <ul class="navbar-socials">
              <span>
                <li class="social">
                  <a href="#">
                          <span>
                              <img src="/nails-opencart/image/nail_image/telegram.svg" alt="telegram">
                          </span>
                    <span>Telegram</span>
                  </a>
                </li>
                <li class="social">
                  <a href="#">
                          <span>
                              <img src="/nails-opencart/image/nail_image/whatsaspp.svg" alt="whatsaspp">
                          </span>
                    <span>WhatsApp</span>
                  </a>
                </li>
              </span>
                <span>
                <li class="social">
                  <a href="#">
                          <span>
                              <img src="/nails-opencart/image/nail_image/viber.svg" alt="viber">
                          </span>
                    <span>Viber</span>
                  </a>
                </li>
                <li class="social">
                  <a href="#">
                          <span>
                              <img src="/nails-opencart/image/nail_image/mail.svg" alt="mail">
                          </span>
                    <span>Nick-name98@mail.ru</span>
                  </a>
                </li>
              </span>
              </ul>
            </div>
            <div class="leftside-part">
              <div class="addone-info">
                <h3>Следите за нами в соцсетях</h3>
                <p>Наш Инстаграм-аккаунт</p>
              </div>
              <div class="social">
                <a href="#">
                  <img src="/nails-opencart/image/nail_image/instagram.svg" alt="instagram">
                  <span>Вконтакте</span>
                </a>
              </div>
            </div>
          </nav>
          <div class="rightside-part">
            <h4 class="part-title">покупателям</h4>
            <ul class="part-links">
              <li class="part-link">
                <a>доставка и оплата</a>
              </li>
              <li class="part-link">
                <a>возврат товара</a>
              </li>
              <li class="part-link">
                <a>бонусная программа</a>
              </li>
              <li class="part-link">
                <a>соглашение о конфиденциальности
                  (политика обработки персональных
                  данных)</a>
              </li>
            </ul>
          </div>
          <div class="rightside-part">
            <h4 class="part-title">контакты</h4>
            <ul class="part-links">
              <li class="part-link">
                <a href="{{ contact }}">общие контакты</a>
              </li>
              <li class="part-link">
                <a>адреса</a>
              </li>
              <li class="part-link">
                <a>информация о магазине</a>
              </li>
            </ul>
          </div>
          <div class="rightside-part">
            <h4 class="part-title">GRANI</h4>
            <ul class="part-links">
              <li class="part-link">
                <a>о нас</a>
              </li>
              <li class="part-link">
                <a>качество</a>
              </li>
              <li class="part-link">
                <a>настройки cookies</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <hr>
    <div class="footer-additionally">
      <div class="footer-additionally__quickInfo">
        ООО «ВИКО» ИНН 193323100 Юридический адрес: Россия, г.Смоленск, ул. Чкалова д6, оф.7 Регистрационный номер в Торговом реестре России: 508044 от 21.04.2021 График работы интернет-магазина: круглосуточно. Консультация менеджера осуществляется ежедневно с 9.00 до 21.00 по указанным номерам и в мессенджерах. Способы оплаты товара: 1)Банковской картой онлайн. 2) подарочной картой онлайн. 3) С помощью мобильного приложения Сбербанк. 4) с помощью системы СБП. Товар отгружается после 100% оплаты.  Способы доставки товара: 1) курьерская доставка до пункта выдачи 2) курьерская доставка до двери; 3) Доставка Почтой России 4) Доставка любой ТК по согласованию.
      </div>
      <div class="footer-additionally-paymentMethods">
        <div class="footer-additionally-paymentMethods__elem">
          <img src="/nails-opencart/image/nail_image/footer-card1.svg" alt="card">
        </div>
        <div class="footer-additionally-paymentMethods__elem">
          <img src="/nails-opencart/image/nail_image/footer-card2.svg" alt="card">
        </div>
        <div class="footer-additionally-paymentMethods__elem">
          <img src="/nails-opencart/image/nail_image/footer-card3.svg" alt="card">
        </div>
        <div class="footer-additionally-paymentMethods__elem">
          <img src="/nails-opencart/image/nail_image/footer-card4.svg" alt="card">
        </div>
      </div>
    </div>
  </footer>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>