<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-3.7.0.min.js" type="text/javascript"></script>
{# <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> #}
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
{# <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> #}
{# <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" /> #}
{# <link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet"> #}


 <!-- Fonts -->
  <!-- jacques -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap" rel="stylesheet">

<!-- INTER -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<!-- ALMARAI -->
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Inter:wght@100..900&display=swap" rel="stylesheet">

{# НАША ГЛАВНАЯ CSS #}
<link href="catalog/view/theme/default/stylesheet/nail_main/style.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/nail_contact/contact.css" rel="stylesheet">
<script src="catalog/view/javascript/nail.js" type="text/javascript"></script>









{# {% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %} #}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
{# <nav id="top">
  <div class="container">{{ currency }}
    {{ language }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
      <div class="col-sm-5">{{ search }}</div>
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div>
</header> #}
<div class="modal-wrapper"></div>
<div class="modal">
    <aside class="modal-list">
        <ul>
            <li><a href="{{ category.href }}">Базы</a></li>
            <li><a href="{{ category }}">Топы</a></li>
            <li><a href="{{ category }}">Гели</a></li>
            <li><a href="{{ category }}">Жидкие гели</a></li>
            <li><a href="{{ category }}">Гель-лаки</a></li>
            <li><a href="{{ category }}">Сменные файлы</a></li>
            <li><a href="{{ category }}">Подготовка НП</a></li>
            <li><a href="{{ category }}">Дизайны</a></li>
            <li><a href="{{ category }}">Новинки</a></li>
            <li><a href="{{ category }}">Акции</a></li>
            <li><a href="delivery.html">Доставка и возврат</a></li>
            <li><a href="{{ contact }}">Контакты</a></li>
        </ul>
    </aside>
    <footer class="footer">
        <div class="footer_inner_container">
          <div class="footer-main">
            <nav class="footer-leftside">
              <div class="leftside-part">
                <div class="part-phone">
                  <div class="navbar-phone">
                    <a href="tel:+375292912432">+375 29 291 24 32</a>
                  </div>
                  <div class="phone-description">если у Вас возникли вопросы, пожалуйста,<br> свяжитесь с нами:</div>
                </div>
                <ul class="navbar-socials">
                  <span>
                    <li class="social">
                      <a href="#">
                              <span>
                                  <img src="/nails-opencart/image/nail_image/telegram-black.svg" alt="telegram">
                              </span>
                        <span>Telegram</span>
                      </a>
                    </li>
                    <li class="social">
                      <a href="#">
                              <span>
                                  <img src="/nails-opencart/image/nail_image/whatsaspp-black.svg" alt="whatsaspp">
                              </span>
                        <span>WhatsApp</span>
                      </a>
                    </li>
                  </span>
                  <span>
                    <li class="social">
                      <a href="#">
                              <span>
                                  <img src="/nails-opencart/image/nail_image/viber-black.svg" alt="viber">
                              </span>
                        <span>Viber</span>
                      </a>
                    </li>
                    <li class="social">
                      <a href="#">
                              <span>
                                  <img src="/nails-opencart/image/nail_image/mail-black.svg" alt="mail">
                              </span>
                        <span>Nick-name98@mail.ru</span>
                      </a>
                    </li>
                  </span>
                </ul>
              </div>
              <div class="leftside-part">
                <div class="addone-info">
                  <h3>Следите за нами в соцсетях</h3>
                </div>
                <div class="social">
                  <a href="#">
                    <img src="/nails-opencart/image/nail_image/instagram-black.svg" alt="instagram">
                    <span>Вконтакте</span>
                  </a>
                </div>
              </div>
            </nav>
        </div>
      </footer>
</div>
<div class="modal-phone">
  <div class="modal-phone-inner">
    <div class="modal-phone__nubmer">
      <a href="tel:+333333333">+375292912432</a>
    </div>
    <div class="modal-phone-links">
      <ul>
        <li>
          <a href="#">
            <span>
              <img src="/nails-opencart/image/nail_image/newimg/telegram.png" alt="">
            </span>
            <span>Telegram</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>
              <img src="/nails-opencart/image/nail_image/newimg/whatsapp.png" alt="">
            </span>
            <span>WhatsApp</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>
              <img src="/nails-opencart/image/nail_image/newimg/viber.png" alt="">
            </span>
            <span>Viber</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
 <header class="header">
    <div class="header-burger">
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
    <div class="header-logo">
      <div class="logo-container">
        <a href="{{ home }}">
          <img src="/nails-opencart/image/nail_image/GRANI.svg" alt="GRANI">
        </a>
      </div>
    </div>
    <nav class="header-navbar">
      <ul class="header-navbar__list">
        <li class="phone-header">
          <a>
            <img src="/nails-opencart/image/nail_image/phone.svg" alt="phone">
          </a>
        </li>
        <li>
          <a href="/personalArea.html">
            <img src="/nails-opencart/image/nail_image/default_avatar.svg" alt="default-avatar">
          </a>
        </li>
        <li>
          <a href="/basket.html">
            <img src="/nails-opencart/image/nail_image/basket_icon.svg" alt="lock">
          </a>
        </li>
      </ul>
    </nav>
  </header>
