{{header}}
 <div class="product">
    <section class="main-product">
      <button class="main-btn_back" onclick="location.href='index.html';" style="color: black;">
        <img src="catalog/view/theme/nailshop/assets/img/arrow-left-black.svg" alt="arrow-left"> вернуться
      </button>
        <div class="product-card">
            <div class="product-card__containerIMG">
                <img src="{{popup}}" alt="product">
            </div>
            <div class="product-card__containerINFO">
                <div class="product-card__containerINFO_part">
                  <div class="product-card__category">
                      {{ description }}
                  </div>
                  <div class="product-card__title">
                      {{heading_title}}
                  </div>
                </div>
                <div class="product-card__containerINFO_part">
                  <div class="product-card__capacity">
                    {% for attribute_group in attribute_groups %}
                      {% for attribute in attribute_group.attribute %}
                        {% if attribute.name == 'Объём' %}
                        {{attribute.name}}: {{attribute.text}}
                        {% endif %}         
                      {% endfor %}
                    {% endfor %}
                </div>
                <div class="product-card__price">
                    {{ price }}
                </div>
                <ul class="product-card__delivery">
                    {{content_top}}
                    {# <li>
                        <img src="catalog/view/theme/nailshop/assets/img/delivery1.svg" alt="delivery1">
                        <span>Бесплатная доставка от 3000 руб</span>
                    </li>
                    <li>
                        <img src="catalog/view/theme/nailshop/assets/img/delivery2.svg" alt="delivery2">
                        <span>Гарантия качества продукции</span>
                    </li> #}
                </ul>
                <button class="product-card__btn">
                    Добавить в корзину
                </button>
                <div class="product-card__manager">
                    <div class="product-card__managerIMG-container">
                        <img src="catalog/view/theme/nailshop/assets/img/phone-white.svg" alt="phone">
                    </div>
                  <span>Связаться с менеджером</span>
                </div>
                </div>
            </div>
        </div>
        <div class="product-description">
                <div class="product-description__category">
                    {{description}}
                </div>
                <div class="product-description__title">
                    {{heading_title}}
                </div>
                {% for attribute_group in attribute_groups %}

                  {% for attribute in attribute_group.attribute %}
                    {% if attribute.name != 'Объём' %}
                      {% if attribute.name == 'Описание' %}
                      {% set class = 'product-description__specification' %}
                      {% elseif attribute.name == 'Состав' %}
                      {% set class = 'product-description__сompound' %}
                      {% elseif attribute.name == 'Характеристики' %}
                      {% set class = 'product-description__сharacteristics' %}
                      {% elseif attribute.name == 'Бренд' %}
                      {% set class = 'product-description__rave' %}
                      {% else %}      
                      {% set class = 'product-description__manufacturer' %}
                      {% endif %} 
                      <div class="{{class}}">
                        <b>{{attribute.name}}:</b> {{attribute.text}}
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
        </div>
    </section>
    {% if products %}
    <section class="main-section">
        <div class="section-title" id="product-section-title">
        <h2>похожие товары</h2>
        <div class="arrow-container">
            <img id="left" src="catalog/view/theme/nailshop/assets/img/arrow-left2.svg" class="wrapper-arrow-icon"/>
            <img id="right" src="catalog/view/theme/nailshop/assets/img/arrow-right.svg" class="wrapper-arrow-icon"/>
        </div>
        </div>
        <div class="wrapper">
        <ul class="carousel">
            {% for product in products %}
                <div class="card section-card">
                        <a class="card-img" href="{{product.href}}">
                            <img src="{{product.thumb}}" alt="{{product.name}}">
                        </a>
                        <div class="card-description">
                            <div class="card-description-inner">

                            <div class="card-description__subtitle">
                                {{product.description}}
                            </div>

                            <div class="card-description__title">
                                {{product.name}}
                            </div>
                            </div>
                            <div class="card-price-container">
                            <div class="card-description__price">
                                {{product.price}}
                            </div>

                            <button class="card-btns__more">
                                В корзину
                            </button>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
        </div>
    </section>
    {% endif %}
</div>
{{footer}}