{{ header }}
<main class="main">
<div class="basket">
	<div class="basket-leftside">
		<div class="basket-title">
			<h2>Корзина</h2>
		</div>
		{% if cart %}
			<div id="custom-cart">
				{{ cart }}
			</div>
		{% endif %}
		{% if module %}
			<div id="custom-module">{{ module }}</div>
		{% endif %}



		<div class="basket-delivery">
			<div class="basket-delivery__title">Доставка</div>
			<div class="basket-delivery__subitle">Для доставки по России и странам СНГ, заполните форму ниже</div>
			<from class="basket-delivery-form">
				{% if customer and not logged %} 
					<div id="custom-customer">{{ customer }}</div>
				{% endif %}
				{% if shipping and shipping != constant('false') %} 
					<div id="custom-shipping">{{ shipping }}</div>
				{% endif %} 
				<div class="basket-delivery-form__addone">
					<span>Для доставки в дальнее зарубежье, либо по иным вопросам, пожалуйста, свяжитесь с нами</span>
					<span class="basket__phoneContainer">
					<img src="catalog/view/theme/nailshop/assets/img/white-hone.svg" alt="phone">
					</span>
				</div>
				<button>Подтвердить данные</button>
			</from>
		</div>

		{% if payment %} 
			<div id="custom-payment">{{ payment }}</div>
		{% endif %}	

								
	

		<div id="custom-confirm" style="display: none;"></div>
	</div>
	<div class="basket-rightside">
		<span class="reaction"></span>
		<div id="custom-total">
			{{ total }}
		</div>
		{% if payment %} 
		<div class="basket-rightside-button" id="custom-control">

		
			{# checked #}
			<span style="display: none">
				{% if text_agree %} 
					<input type="checkbox" name="agree" value="1" checked="checked"  />
					&nbsp;
					<label for="input-agree" class="control-label">{{ text_agree }}</label>
					<br>
				{% endif %}
			</span>
			{# checked #}


			<button type="button" id="button-custom-order">
				<span>Оплатить</span><img src="catalog/view/theme/nailshop/assets/img/creditCard-white.svg" alt="payment">
			</button>
		</div>
		{% endif %}
	</div>
	</div>
</main>
<script>
$(document).ready(function() {

  $('#button-custom-order').on('click', function(){

  	{% if (not logged) %} 

			checkoutCustomer()
				{% if (login is defined and login != constant('false')) %} 
					.then( checkoutLogin )
				{% endif %} 
				{% if (shipping is defined and shipping != constant('false')) %} 
					.then( checkoutShipping )
				{% endif %} 
					.then( checkoutPayment )
				{% if (comment is defined and comment != constant('false')) %} 
					.then( checkoutComment )
				{% endif %} 
					.then( checkoutConfirm )
					.catch( failureCallback );

  	{% else %} 

  		{% if (shipping is defined and shipping != constant('false')) %} 

  			checkoutShipping()
  				.then( checkoutPayment )
  				{% if (comment is defined and comment != constant('false')) %} 
					.then( checkoutComment )
				{% endif %} 
				.then( checkoutConfirm )
				.catch( failureCallback );

  		{% else %} 

  			checkoutPayment()
  				{% if (comment is defined and comment != constant('false')) %} 
						.then( checkoutComment )
					{% endif %} 
					.then( checkoutConfirm )
					.catch( ailureCallback );


  		{% endif %}	

  	{% endif %} 

  });

});
  
</script>
{{ footer }} 
