{{ header }}
<main class="main">
<div class="basket">
	<div class="basket-leftside">
	<div class="basket-title">
		<h2>Корзина</h2>
	</div>
	{% if cart %}
		<div id="custom-cart">
			{{ cart }}
		</div>
	{% endif %}
	{% if module %}
		<div id="custom-module">{{ module }}</div>
	{% endif %}
	<div class="basket-delivery">
		<div class="basket-delivery__title">Доставка</div>
		<div class="basket-delivery__subitle">Для доставки по России и странам СНГ, заполните форму ниже</div>
		<from action="" class="basket-delivery-form">
		<div class="delivery-form__blockInput">
			<label for="fio">
			<span>ФИО</span>
			<input id='fio' name="fio" type="text">
			</label>
			<label for="address">
			<span>Город улица, дом</span>
			<input id="address" name="address" type="text">
			</label>
			<div>
			<label for="home">
				<span>Квартира</span>
				<input id="home" name="home" type="text">
			</label>
			<label for="phone">
				<span>Телефон</span>
				<input id="phone" name="phone" type="text">
			</label>
			</div>
			<div>
			<label for="tk">
				<span>Выбрать ТК</span>
				<select name="tk" id="tk">
				<option value="СДЕК" selected>СДЕК</option>
				</select>
			</label>
			<label for="email">
				<span>Электронная почта</span>
				<input name="email" id="email" type="email" required>

			</label>
			</div>
		</div>
		<div class="delivery-form__blockRadio">
			<label class="labelRadio" for="deliveryChoose">
			<input type="radio" name="deliveryChoose" id="point">
			<div>
				<span>Доставка до пункта выдачи, только по России и странам СНГ </span>
				<span>мы доставим в ближайший пункт выдачи к указанному адресу, бесплатно, при заказе от 3000
				руб.</span>
			</div>
			</label>
			<label class="labelRadio" for="door">
			<input type="radio" name="deliveryChoose" id="door" checked>
			<div>
				<span>Доставка до двери, только по России и странам СНГ </span>
				<span>бесплатно, при заказе от 3000 руб.</span>
			</div>
			</label>
		</div>
		<div class="basket-delivery-form__addone">
			<span>Для доставки в дальнее зарубежье, либо по иным вопросам, пожалуйста, свяжитесь с нами</span>
			<span class="basket__phoneContainer">
			<img src="catalog/view/theme/nailshop/assets/img/white-hone.svg" alt="phone">
			</span>
		</div>
		<button type="submit">Подтвердить данные</button>
		</from>
	</div>
	<div class="basket-payment">
		<div class="basket-payment__title">Оплата</div>
		<label class="basket-payment-list" for="payment">
		<ul>
			<li>
			<input type="radio" name="payment" id="" checked>
			<img src="catalog/view/theme/nailshop/assets/img/creditCard.svg" alt="creditCard">
			<span>Онлайн оплата банковской картой на сайте</span>
			</li>
			<li>
			<input type="radio" name="payment" id="">
			<img src="catalog/view/theme/nailshop/assets/img/sber.svg" alt="sber">
			<span>SberPay Онлайн оплата на сайте Сбербанка</span>
			</li>
			<li>
			<input type="radio" name="payment" id="">
			<img src="catalog/view/theme/nailshop/assets/img/spb.svg" alt="span">
			<span>СПБ оплата по QR коду</span>
			</li>
		</ul>
		</label>
	</div>
	</div>
	{% if total %} 
		<div id="custom-total">{{ total }}</div>
	{% endif %} 
</main>
{{ footer }} 
