{{ header }}
<div class="main-contact">
            <div class="contact-title">
                Контакты
            </div>
            <div class="contact-body">
                <div class="contact-body__title">НАШ АДРЕС И РЕКВИЗИТЫ</div>
                <div class="contact-body-text">
                    <div>
                        Россия, г.Смоленск, ул. Чкалова д6, оф.7 Общество с ограниченной ответственностью  ВИКО
                    </div>
                    <ul>
                        <li>
                            <span>КПП</span>
                            <span>6732165788</span>
                        </li>
                        <li>
                            <span>ИНН</span>
                            <span>6732165788</span>
                        </li>
                        <li>
                            <span>ОГРН</span>
                            <span>6732165788</span>
                        </li>
                    </ul>
                </div>
                <div class="contact-body__info">
                    <ul>
                        <li>
                            <span>Юридический адрес:</span>
                            <span>Россия, г.Смоленск, ул. Чкалова д6, оф.7</span>
                        </li>
                        <li>
                            <span>Банк получателя:</span>
                            <span>Отделение №8609 ПАО Сбербанк г. Смоленск</span>
                        </li>
                        <li>
                            <span>БИК  Банка получателя</span>
                            <span>046614632</span>
                        </li>
                        <li>
                            <span>Сч. № Банка получателя</span>
                            <span>30101810000000000632</span>
                        </li>
                        <li>
                            <span>Сч. №  получателя</span>
                            <span>40702810459000004201</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contact-bottom">
                <div class="contact-bottom__title">
                    ИНТЕРНЕТ МАГАЗИН
                </div>
                <ul>
                    <li>
                        <span>Режим работы интернет магазина:</span>
                        <span>круглосуточно</span>
                    </li>
                    <li>
                        <span>Режим работы менеджера: </span>
                        <span>пн-вс    9.00-21.00</span>
                    </li>
                    <li>
                        <span>Связаться с нами можно по телефону ;</span>
                    </li>
                    <li>
                        <span>тел. +7 910 766 37 94</span>
                    </li>
                    <li>
                        <span>*Звонок платный. Стоимость уточняйте у своего оператора.</span>
                    </li>
                    <li>
                        <span>или через мессенджеры</span>
                    </li>
                    <li class="link">
                        <span>
                            <img src="./img/telegram-black.svg" alt="">
                        </span>
                        <span>Telegram</span>
                    </li>
                    <li class="link">
                        <span>
                            <img src="./img/whatsaspp-black.svg" alt="">
                        </span>
                        <span>WatsApp</span>
                    </li>
                    <li class="link">
                        <span>
                            <img src="./img/viber-black.svg" alt="">

                        </span>
                        <span>Viber</span>
                    </li>
                    <li class="link">
                        <span>
                            <img src="./img/mail-black.svg" alt="">
                        </span>
                        <span>Nick-name98@mail.ru</span>
                    </li>
                </ul>
            </div>
        </div>
        {# <div id="information-contact" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <h3>{{ text_location }}</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            {% if image %}
            <div class="col-sm-3"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail" /></div>
            {% endif %}
            <div class="col-sm-3"><strong>{{ store }}</strong><br />
              <address>
              {{ address }}
              </address>
              {% if geocode %}
              <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
              {% endif %}
            </div>
            <div class="col-sm-3"><strong>{{ text_telephone }}</strong><br>
              {{ telephone }}<br />
              <br />
              {% if fax %}
              <strong>{{ text_fax }}</strong><br>
              {{ fax }}
              {% endif %}
            </div>
            <div class="col-sm-3">
              {% if open %}
              <strong>{{ text_open }}</strong><br />
              {{ open }}<br />
              <br />
              {% endif %}
              {% if comment %}
              <strong>{{ text_comment }}</strong><br />
              {{ comment }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if locations %}
      <h3>{{ text_store }}</h3>
      <div class="panel-group" id="accordion">
        {% for location in locations %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
            <div class="panel-body">
              <div class="row">
                {% if location.image %}
                <div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail" /></div>
                {% endif %}
                <div class="col-sm-3"><strong>{{ location.name }}</strong><br/>
                  <address>
                  {{ location.address }}
                  </address>
                  {% if location.geocode %}
                  <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                  {% endif %}
                </div>
                <div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br/>
                  {{ location.telephone }}<br/>
                  <br/>
                  {% if location.fax %}
                  <strong>{{ text_fax }}</strong><br/>
                  {{ location.fax }}
                  {% endif %}
                </div>
                <div class="col-sm-3">
                  {% if location.open %}
                  <strong>{{ text_open }}</strong><br/>
                  {{ location.open }}<br/>
                  <br/>
                  {% endif %}
                  {% if location.comment %}
                  <strong>{{ text_comment }}</strong><br/>
                  {{ location.comment }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{ text_contact }}</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />
              {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
            <div class="col-sm-10">
              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
              {% if error_enquiry %}
              <div class="text-danger">{{ error_enquiry }}</div>
              {% endif %}
            </div>
          </div>
          {{ captcha }}
        </fieldset>
        <div class="buttons">
          <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div> #}
{{ footer }}
