{# <pre>
  {{ dump(categories) }}
</pre> #}
{{header}}
<main class="main">
  <figure class="main-img">
    <img src="catalog/view/theme/nailshop/assets/img/hero4.png" alt="mainIMG">
  </figure>
  <div class="main-slider">
  {% if categories %}
    {% for category in categories %}
      <figure class="slider-elem">
        <a href="{{ category.href }}">
          <div class="slider-elem__container">
            <div class="slider-elem__wrapper">
              <img src="./image/{{ category.image }}" alt="img">
            </div>
          </div>
        </a>
        <figcaption class="slider-elem__subtitle">{{ category.name }}</figcaption>
      </figure>
    {% endfor %}
  {% endif %}
  </div>

  
  <section class="main-section">
    <div class="section-title">
      <h2>новинки</h2>

      <div class="arrow-container">
        <img id="left" src="catalog/view/theme/nailshop/assets/img/arrow-left2.svg" class="wrapper-arrow-icon"/>
        <img id="right" src="catalog/view/theme/nailshop/assets/img/arrow-right.svg" class="wrapper-arrow-icon"/>
      </div>
    </div>

    <div class="wrapper">

      <ul class="carousel">
        <div class="card section-card" onclick="location.href='product.html';" >
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/card2.png" alt="card1">
          </div>
          <div class="card-description">
            <div class="card-description-inner">

              <div class="card-description__subtitle">
                Камуфлирующая база
              </div>

              <div class="card-description__title">
                ART BASE LIGHT GREEN
              </div>
            </div>
            <div class="card-price-container">
              <div class="card-description__price">
                750.00 руб.
              </div>

              <button class="card-btns__more">
                В корзину
              </button>

            </div>
          </div>
        </div>
        <div class="card section-card" onclick="location.href='product.html';" >
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/card3.png" alt="card1">
          </div>
          <div class="card-description">
            <div class="card-description-inner">

              <div class="card-description__subtitle">
                Камуфлирующая база
              </div>

              <div class="card-description__title">
                ART BASE LIGHT GREEN
              </div>
            </div>
            <div class="card-price-container">
              <div class="card-description__price">
                750.00 руб.
              </div>

              <button class="card-btns__more">
                В корзину
              </button>

            </div>
          </div>
        </div>
        <div class="card section-card" onclick="location.href='product.html';" >
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/card3.png" alt="card1">
          </div>
          <div class="card-description">
            <div class="card-description-inner">

              <div class="card-description__subtitle">
                Камуфлирующая база объём 15 мл ультраплотная
              </div>

              <div class="card-description__title">
                ART BASE LIGHT GREEN
              </div>
            </div>
            <div class="card-price-container">
              <div class="card-description__price">
                750.00 руб.
              </div>

              <button class="card-btns__more">
                В корзину
              </button>

            </div>
          </div>
        </div>
        <div class="card section-card" onclick="location.href='product.html';" >
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/card4.png" alt="card1">
          </div>
          <div class="card-description">
            <div class="card-description-inner">

              <div class="card-description__subtitle">
                Камуфлирующая база
              </div>

              <div class="card-description__title">
                ART BASE LIGHT GREEN
              </div>
            </div>
            <div class="card-price-container">
              <div class="card-description__price">
                750.00 руб.
              </div>

              <button class="card-btns__more">
                В корзину
              </button>

            </div>
          </div>
        </div>

        <div class="card section-card" onclick="location.href='product.html';" >
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/card2.png" alt="card1">
          </div>
          <div class="card-description">
            <div class="card-description-inner">

              <div class="card-description__subtitle">
                Камуфлирующая база
              </div>

              <div class="card-description__title">
                ART BASE LIGHT GREEN
              </div>
            </div>
            <div class="card-price-container">
              <div class="card-description__price">
                750.00 руб.
              </div>

              <button class="card-btns__more">
                В корзину
              </button>

            </div>
          </div>
        </div>
        <div class="card section-card" onclick="location.href='product.html';" >
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/card3.png" alt="card1">
          </div>
          <div class="card-description">
            <div class="card-description-inner">

              <div class="card-description__subtitle">
                Камуфлирующая база
              </div>

              <div class="card-description__title">
                ART BASE LIGHT GREEN
              </div>
            </div>
            <div class="card-price-container">
              <div class="card-description__price">
                750.00 руб.
              </div>

              <button class="card-btns__more">
                В корзину
              </button>

            </div>
          </div>
        </div>
        <div class="card section-card" onclick="location.href='product.html';" >
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/card3.png" alt="card1">
          </div>
          <div class="card-description">
            <div class="card-description-inner">

              <div class="card-description__subtitle">
                Камуфлирующая база объём 15 мл ультраплотная
              </div>

              <div class="card-description__title">
                ART BASE LIGHT GREEN
              </div>
            </div>
            <div class="card-price-container">
              <div class="card-description__price">
                750.00 руб.
              </div>

              <button class="card-btns__more">
                В корзину
              </button>

            </div>
          </div>
        </div>
        <div class="card section-card" onclick="location.href='product.html';" >
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/card4.png" alt="card1">
          </div>
          <div class="card-description">
            <div class="card-description-inner">

              <div class="card-description__subtitle">
                Камуфлирующая база
              </div>

              <div class="card-description__title">
                ART BASE LIGHT GREEN
              </div>
            </div>
            <div class="card-price-container">
              <div class="card-description__price">
                750.00 руб.
              </div>

              <button class="card-btns__more">
                В корзину
              </button>

            </div>
          </div>
        </div>
      </ul>
    </div>
  </section>
  <section class="main-section" id="promotion">
    <div class="section-title">
      <h2>акции</h2>

      <div class="arrow-container">
        <img id="left-promotion" src="catalog/view/theme/nailshop/assets/img/arrow-left2.svg" class="wrapper-arrow-icon-promotion"/>
        <img id="right-promotion" src="catalog/view/theme/nailshop/assets/img/arrow-right.svg" class="wrapper-arrow-icon-promotion"/>
      </div>
    </div>
    <div class="wrapper-promotion">
      <ul class="carousel carousel-promotion">
        <div class="card-promotion section-card" onclick="location.href='product.html';">
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/newimg/card-big-1.png" alt="img2">
          </div>
          <div class="card-description">
            <div class="card-description-title-container">
              <div class="card-description__title">
                BRILLIANT TOP -10%
              </div>
              <div class="card-description__date">
                с 10-20 марта
              </div>
            </div>
            <div class="card-description__subtitle">
              получи скидку 10% на BRILLIANT TOP, если у тебя день рождения
            </div>
          </div>
        </div>
        <div class="card-promotion section-card">
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/promo_card2.png" alt="img2">
          </div>
          <div class="card-description">
            <div class="card-description-title-container">
              <div class="card-description__title">
                VELVET TOP FREE
              </div>
              <div class="card-description__date">
                с 10-20 марта
              </div>
            </div>
            <div class="card-description__subtitle">
              при покупке любых 4-х баз VELVET TOP в подарок
            </div>
          </div>
        </div>
        <div class="card-promotion section-card">
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/promo_card2.png" alt="img2">
          </div>
          <div class="card-description">
            <div class="card-description-title-container">
              <div class="card-description__title">
                АКЦИЯ - 25% В ЧЕСТЬ ПРАЗДНИКА
              </div>
              <div class="card-description__date">
                C 7 – 15 марта
              </div>
            </div>
            <div class="card-description__subtitle">
              Совершай покупки от 30 рублей и получи
              скидку на весь ассортимент
            </div>
          </div>
        </div>
        <div class="card-promotion section-card">
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/promo_card2.png" alt="img2">
          </div>
          <div class="card-description">
            <div class="card-description-title-container">
              <div class="card-description__title">
                АКЦИЯ - 25% В ЧЕСТЬ ПРАЗДНИКА
              </div>
              <div class="card-description__date">
                C 7 – 15 марта
              </div>
            </div>
            <div class="card-description__subtitle">
              Совершай покупки от 30 рублей и получи
              скидку на весь ассортимент
            </div>
          </div>
        </div>
        <div class="card-promotion section-card">
          <div class="card-img">
            <img src="catalog/view/theme/nailshop/assets/img/promo_card2.png" alt="img2">
          </div>
          <div class="card-description">
            <div class="card-description-title-container">
              <div class="card-description__title">
                АКЦИЯ - 25% В ЧЕСТЬ ПРАЗДНИКА
              </div>
              <div class="card-description__date">
                C 7 – 15 марта
              </div>
            </div>
            <div class="card-description__subtitle">
              Совершай покупки от 30 рублей и получи
              скидку на весь ассортимент
            </div>
          </div>
        </div>

      </ul>
    </div>

  </section>
</main>
{{footer}}
