<div class="basket-payment">
		<div class="basket-payment__title">Оплата</div>
      <label class="basket-payment-list" for="payment">
        <ul>
        
        {% if (payment_methods) %} 
          {% for payment_method in payment_methods %} 
          <li>
              {% if (payment_method['code'] == code or not code) %} 
            {% set code = payment_method['code'] %} 
            <input type="radio" name="payment_method" value="{{ payment_method['code'] }}" checked="checked" />
            {% else %} 
            <input type="radio" name="payment_method" value="{{ payment_method['code'] }}" />
            {% endif %} 
            <img src="catalog/view/theme/nailshop/assets/img/creditCard.svg" alt="creditCard">
            <span>{{ payment_method['title'] }}</span>
          </li>
          {# <div class="radio">
            <label>
           
              {% if (payment_method['terms']) %} 
              ({{ payment_method['terms'] }})
              {% endif %} 
              {% if (payment_method['description'] is defined) %} 
              <br /><small>{{ payment_method['description'] }}</small>
              {% endif %} 
            </label>
          </div> #}
          {% endfor %} 
        {% endif %}    
          {# <li>
          <input type="radio" name="payment" id="">
          <img src="catalog/view/theme/nailshop/assets/img/sber.svg" alt="sber">
          <span>SberPay Онлайн оплата на сайте Сбербанка</span>
          </li>
          <li>
          <input type="radio" name="payment" id="">
          <img src="catalog/view/theme/nailshop/assets/img/spb.svg" alt="span">
          <span>СПБ оплата по QR коду</span>
          </li> #}
        </ul>
      </label>

    

    
    <script>
        $(function(){

            let customer_group_id = {{ customer_group_id }};

            if ( $('#custom-customer input[name=\'customer_group_id\']:checked').val() !== undefined ) {
                customer_group_id = $('#custom-customer input[name=\'customer_group_id\']:checked').val();
            }

            custom_block.payment( customer_group_id );
            
        });
    </script>

</div>