<div class="basket-rightside-description">
	{% for total in totals %}
		{% if total.title == 'Итого' %}
			<div class="basket-rightside-property basket-rightside__payment">
				<span>К оплате</span>
				<span>{{total.text}}</span>
			</div>
			<div class="basket-rightside-property basket-rightside__products">
				<span>Всего товаров</span>
				<span>{{quantities_products}} шт.</span>
			</div>
		{% elseif total.title|slice(0, 5) == 'Купон' %}
			<div class="basket-rightside-property basket-rightside__discount">
				<span>Скидка</span>
				<span>{{ total.text }}</span>
			</div>
			<div class="basket-rightside-property basket-rightside__bonus">
				<span>Начисленно бонусов</span>
				<span>200.00 руб</span>
			</div>
			<div class="basket-rightside-property basket-rightside__delivery">
				<span>Доставка бесплатно</span>
				<span>Нет</span>
			</div>
		{% elseif total.title|slice(0, 17) == 'Доставка до двери' %}
			<div class="basket-rightside-property basket-rightside__deliveryPoint">
				<button>{{total.title|slice(9, 8)}}</button>
			</div>
		{% elseif total.title|slice(0, 18) == 'Доставка до пункта' %}
			<div class="basket-rightside-property basket-rightside__deliveryPoint">
				<button>{{total.title|slice(9, 9)}}</button>
			</div>
		{% endif %}
	{% endfor %}
</div>
<div class="move-button">
	{% for total in totals %}
		{% if total.title == 'Итого' %}
			<span>{{total.text}}</span>
			<span>3 шт.</span>
			<span>Бесплатная <br> </span>
		
			{% elseif total.title|slice(0, 17) == 'Доставка до двери' %}
				{{total.title|slice(9, 8)}}
			{% elseif total.title|slice(0, 18) == 'Доставка до пункта' %}
				{{total.title|slice(9, 9)}}
		{% endif %}
	{% endfor %}
</div>